*, *::before, *::after{
    box-sizing: border-box;
}

:root{
    --colour-dark: rgb(11, 13, 23);
    --colour-primary: rgb(208, 214, 249);
}

html{
    font-size: 62.5%;;
}


body{
    font-family: 'Manrope', sans-serif;
}

header{
    background: #191919;
    margin-bottom: 10rem;
}

a{
    text-decoration: none;
}

.container{
    background: #191919;
}

.blockContainer{
    max-width: 1110px;
    margin: 0 auto;
}

.hero{
    max-width: 1110px;
    margin: 0 auto;
    overflow: visible;
    background: #191919;
}

.navBar{
    background: #191919;
    height: 7.44rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    overflow: visible;
}

.navBar__button{
    outline: 0;
    border: 0;
    background-color: rgb(0, 0, 0, 0);
    margin: 0 24px;
    cursor: pointer;
    z-index: 1;
}

.buttonSVG{
    fill: rgb(255, 255, 255);
    transition: all 0.2s;
}

.buttonSVG:hover{
    fill: #D87D4A;
}

.navBar__link-container{
    display: flex; 
    opacity: 0;
    list-style: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(25, 25, 25);
    top: 0;
    left: 0px;
    width: 0%;
    transition: all 0.2s;
    padding-top: 10px;
    height: 100%;
    z-index: 0;
}

.navBar__link-container.expanded{
    opacity: 1;
    width: 70%;
    z-index: 1;
}

.navBar__link-container li{
    margin-bottom: 4rem;
}

.navBar__link-container li a{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 2px;
    text-decoration: none;
    list-style: none;
    margin: 0 3.4rem;
    transition: all 0.2s;
}

.navBar__link-container li a:hover{
    color: #D87D4A;
}

.x-button{
    outline: 0;
    background: rgb(0, 0, 0, 0);
    border: 0;
    color: #FFF;
    font-size: 30px;
    padding: 10px 0;
    padding-bottom: 40px;
    width: 30px;
    margin-left: 50%;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .navBar{
        justify-content: start;
        align-items: center;
    }

    .navBar__button.button--cart{
        margin-left: auto;
        margin-right: 40px;
    }

    .navBar__button.button--menu{
        margin-left: 40px;
        margin-right: 42px;
    }
}

@media screen and (min-width: 1024px) {
    .navBar__button.button--menu{
        display: none;
    }

    .navBar__link-container, .navBar__link-container.expanded{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: row;
        position: static;
        padding-top: 0px;
        padding-left: 0;
        opacity: 1;
        width: 55%;
        margin-left: 105px;
    }

    .navBar__link-container li{
        margin-bottom: 0rem;
    }

    .x-button{
        display: none;
    }
}

/* Home block  */
.homeBlock{
    border-top: 1px solid rgb(255, 255, 255, 0.2);
    padding-top: 1px;
    background-image: url("/assets/home/mobile/image-header.jpg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homeBlock h2{
    color: #FFF;
    opacity: 0.5;
    text-align: center;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 1.4rem;
    font-family: Manrope;
    letter-spacing: 10px;
    margin-top: 10.8rem;
    margin: 0 25px;
    margin-bottom: 1.6rem;
}

.homeBlock h1{
    color: #FFF;
    text-align: center;
    font-size: 3.6rem;
    font-family: Manrope;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.286px;
    margin: 0 25px;
    margin-bottom: 2.4rem;
}

.homeBlock p{
    color: #FFF;
    text-align: center;
    font-size: 1.5rem;
    font-family: Manrope;
    font-weight: 500;
    line-height: 25px;
    margin: 0 25px;
    margin-bottom: 4.3rem;
    opacity: 0.75;
}

.homeBlock__product-button{
    color: #FFF;
    font-size: 13px;
    font-family: Manrope;
    font-weight: 700;
    letter-spacing: 1px;
    background-color: #D87D4A;
    width: 16rem;
    text-align: center;
    height: 4.8rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s;
}

.homeBlock__product-button:hover{
    background-color: #FBAF85;
}

.line{
    display: none;
    background-color: rgb(255, 255, 255, 0.2);
    height: 1px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .line{
        display: block;
        width: 689px;
    }

    .homeBlock{
        background-image: url("/assets/home/tablet/image-header.jpg");
        border-top: none;
        background-position: 50% 130%;
        background-repeat: no-repeat;
        background-size: 100%;
        height: 67rem;
        justify-content: start;
    }

    .homeBlock h2{
        margin-bottom: 2.4rem;
        margin-top: 12.6rem;
    }
    
    .homeBlock h1{
        width: 39.6rem;
        font-size: 5.6rem;
        line-height: 58px;
        letter-spacing: 2px;
        margin-bottom: 2.4rem;

    }
    
    .homeBlock p{
        margin-bottom: 4rem;
        opacity: 0.75;
        line-height: 25px;
        width: 34.9rem;
    }
}

@media screen and (min-width: 1024px) {
    .line{
        width: 1110px;
    }

    .homeBlock{
        background-image: url("/assets/home/desktop/image-hero.jpg");
        background-position: 50% 300%;
        background-size: 120%;
        height: 65rem;
        display: block;

        max-width: 1110px;
        margin: 0 auto;
    }

    .homeBlock h2{
        margin-bottom: 2.4rem;
        margin-top: 12.8rem;
        margin-left: 0;
        text-align: left;
    }
    
    .homeBlock h1{
        margin-left: 0;
        text-align: left;
        width: 39.6rem;
    }
    
    .homeBlock p{
        margin-left: 0;
        text-align: left;
    }
}

/* Links block  */
.linksBlock{
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 5.2rem;
    display: flex;
    flex-direction: column;
}

.card{
    width: 32.7rem;
    height: 16.5rem;
    background: #FAFAFA;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 1rem;
    margin-bottom: 6.8rem;
}

.card__headphones-image, .card__speakers-image, .card__earphones-image{
    height: 125px;
    position: absolute;
    left: 50%;
    top: -65%;
    transform: translate(-50%, 50%);
}

.card__earphones-image{
    height: 130px;
}

.linksBlock h3{
    font-size: 1.5rem;
    line-height: normal;
    letter-spacing: 1.071px;
    margin-bottom: 1.7rem;
    margin-top: 8.8rem;
}

.card__link{
    margin-bottom: 2.2rem;
    color: #000;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    opacity: 0.5;
}

.card:hover .card__link{
    color:  #D87D4A;
    opacity: 1;
}

.arrowSVG{
    margin-left: 1.3rem;
    scale: 1;
    transition: all 0.2s;
    opacity: 1;
}

.card:hover .card__link .arrowSVG{
    transform: translate(5px);
}

@media screen and (min-width: 768px) {
    .linksBlock{
        flex-direction: row;
        margin-bottom: 9.6rem;
        justify-content: center;
    }

    .card{
        width: 22.3rem;
        height: 16.5rem;
    }

    .linksBlock h3{
        letter-spacing: 1.071px;
        margin-bottom: 1.7rem;
        margin-top: 11.6rem;
    }
    
    .card__link{
        margin-bottom: 2.2rem;
        letter-spacing: 1px
    }
}

@media screen and (min-width: 1024px) {
    .linksBlock{
        margin-bottom: 7rem;
    }

    .card{
        width: 22.3rem;
        height: 16.5rem;
        margin-left: 30px;
        margin-right: 30px;
    }

    .card__headphones-image, .card__speakers-image, .card__earphones-image{
        height: 145px;
        position: absolute;
        left: 50%;
        top: -65%;
        transform: translate(-50%, 50%);
    }
    
    .card__earphones-image{
        height: 150px;
    }

    .linksBlock h3{
        font-size: 1.8rem;
        letter-spacing: 1.286px;
        margin-bottom: 1.5rem;
        margin-top: 11.6rem;
    }
    
    .card__link{
        margin-bottom: 3rem;
        letter-spacing: 1px
    }
}


/* ZX9 Block  */
.zx9Block{
    width: 32.7rem;
    height: 60.0rem;
    border-radius: 15px;
    background: #D87D4A;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.4rem;
    overflow: hidden;
}

.zx9Block__speaker-image{
    width: 172.248px;
    height: 207px;
    margin-top: 55px;
    position: relative;
    z-index: 1;
}

.zx9Block__ringSVG1{
    width: 279px;
    height: 279px;
    position: absolute;
    top: 20px;
    opacity: 0.1;
    z-index: 0;
}

.zx9Block__ringSVG2{
    width: 320px;
    height: 318px;
    position: absolute;
    top: -3px;
    opacity: 0.1;
    z-index: 0;
}

.zx9Block__ringSVG3{
    display: none;
    position: absolute;
    opacity: 0.1;
    z-index: 0;
}

.zx9Block__text-box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.zx9Block .zx9Block__text-box h3{
    width: 24.0rem;
    color: #FFF;
    text-align: center;
    font-size: 3.6rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 1.286px;
    margin-bottom: 2.4rem;
    position: relative;
    z-index: 1;
}

.zx9Block .zx9Block__text-box p{
    width: 28.0rem;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    opacity: 0.75;
    margin-bottom: 2.4rem;
    position: relative;
    z-index: 1;
}

.zx9Block__button{
    width: 16.0rem;
    height: 4.8rem;
    background: #000;
    color: #FFF;
    font-size: 1.3rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
    transition: all 0.2s;
    position: relative;
    z-index: 1;
}

.zx9Block__button:hover{
    background: #4C4C4C;
}

@media screen and (min-width: 768px) {
    .zx9Block{
        width: 68.9rem;
        height: 72.0rem;
    }
    
    .zx9Block__speaker-image{
        width: 197.212px;
        height: 237px;
        margin-top: 52px;
    }
    
    .zx9Block__ringSVG1{
        top: -60px;
        width: 472px;
        height: 472px;
    }
    
    .zx9Block__ringSVG2{
        top: -92px;
        width: 542px;
        height: 542px;
    }
    
    .zx9Block__ringSVG3{
        display: block;
        top: -500px;
        width: 1200px;
        height: 1200px;
    }
    
    .zx9Block .zx9Block__text-box h3{
        width: 34.9rem;
        font-size: 5.6rem;
        line-height: 5.8rem;
        letter-spacing: 2px;
        margin-bottom: 4rem;
    }
    
    .zx9Block .zx9Block__text-box p{
        font-size: 1.5rem;
        line-height: 25px;
        margin-bottom: 4rem;
        width: 35.0rem;
    }
    
    .zx9Block__button{
        width: 16.0rem;
        height: 4.8rem;
    }
}

@media screen and (min-width: 1024px) {
    .zx9Block{
        width: 111.0rem;
        height: 56.0rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        overflow: hidden;
        margin-bottom: 2.4rem;
    }
    
    .zx9Block__speaker-image{
        width: 410.234px;
        height: 493px;
        margin-left: 117.49px;
        transform: translateY(30px);
    }
    
    .zx9Block__ringSVG1{
        top: 200px;
        left: 145px
    }
    
    .zx9Block__ringSVG2{
        top: 160px;
        left: 110px
    }
    
    .zx9Block__ringSVG3{
        width: 1200px;
        height: 1200px;
        top: -280px;
        left: -300px;
        z-index: 0;
    }

    .zx9Block__text-box{
        align-items: flex-start;
    }
    
    .zx9Block .zx9Block__text-box h3{
        margin-top: 133px;
        text-align: left;
        margin-bottom: 2.4rem;
    }
    
    .zx9Block .zx9Block__text-box p{
        text-align: left;
    }
    

}

/* zx9SpeakerBlock */

.zx9SpeakerBlock{
    width: 327px;
    height: 320px;
    margin: 0 auto;
    background: rgb(232,232,232);
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 2.4rem;
}

.zx9SpeakerBlock__text-block{

}

.zx9SpeakerBlock .zx9SpeakerBlock__text-block h3{
    color: #000;
    font-size: 2.8rem;
    line-height: normal;
    letter-spacing: 2px;
    margin-bottom: 3.2rem;
    margin-left: 4.8rem;
    margin-top: 10.1rem;
    position: relative;
    z-index: 1;
}

.zx9SpeakerBlock .zx9SpeakerBlock__text-block a{
    width: 16.0rem;
    height: 4.8rem;
    color: #000;
    font-size: 1.3rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    border: 1px solid #000;
    padding: 1.5rem 3rem;
    margin-bottom: 1rem;
    margin-left: 4.8rem;
    position: relative;
    z-index: 1;
    transition: all 0.2s;
}

.zx9SpeakerBlock .zx9SpeakerBlock__text-block a:hover{
    color: #FFF;
    background: #000;
}

.zx9SpeakerBlock img{
    position: absolute;
    z-index: 0;
    top: 0;
}

@media screen and (min-width: 768px) {
    .zx9SpeakerBlock{
        width: 68.9rem;
        height: 32rem;
    }
    
    .zx9SpeakerBlock img{
        content: url("./assets/home/tablet/image-speaker-zx7.png");
    }
}

@media screen and (min-width: 1024px) {
    .zx9SpeakerBlock{
        width: 111rem;
        height: 32rem;
    }
    
    .zx9SpeakerBlock img{
        content: url("./assets/home/desktop/image-speaker-zx7.png");
    }
}

/* YX1 Block  */
.YX1Block{
    width: 32.7rem;
    height: 42.4rem;
    margin: 0 auto;
    margin-bottom: 2.4rem;
}

.YX1Block img{
    border-radius: 15px;
    margin-bottom: 2.4rem;
}

.YX1Block__text-box{
    border-radius: 15px;
    width: 32.7rem;
    height: 20rem;
    background: #F1F1F1;
}

.YX1Block__text-box h3{
    color: #000;
    font-size: 2.8rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2rem;
    padding-top: 4.1rem;
    margin-top: 0;
    margin-left: 2.4rem;
    margin-bottom: 3.2rem;
}

.YX1Block__text-box a{
    width: 16rem;
    height: 4.8rem;
    color: #000;
    font-size: 1.3rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    padding: 1.5rem 3rem;
    border: 1px solid black;
    transition: all 0.2s;
    margin-left: 2.55rem;
    margin-bottom: 4.1rem;
}

.YX1Block__text-box a:hover{
    color: #FFF;
    background: #000;
}

@media screen and (min-width: 768px) {
    .YX1Block{
        width: 68.9rem;
        height: 32rem;
        display: flex;

    }
    
    .YX1Block img{
        margin-right: 1.1rem;
        width: 339px;
        height: 320px;
        content: url("./assets/home/tablet/image-earphones-yx1.png");
    }
    
    .YX1Block__text-box{
        width: 33.9rem;
        height: 32rem;
    }
    
    .YX1Block__text-box h3{
        color: #000;
        font-size: 2.8rem;
        font-family: Manrope;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.2rem;
        padding-top: 10.1rem;
        margin-top: 0;
        margin-left: 4.1rem;
        margin-bottom: 3.2rem;
    }
    
    .YX1Block__text-box a{
        margin-left: 4.1rem;
    }
}

@media screen and (min-width: 1024px) {
    .YX1Block{
        width: 111rem;
        height: 32rem;
    }
    
    .YX1Block img{
        margin-right: 3rem;
        width: 540px;
        height: 320px;
        content: url("./assets/home/desktop/image-earphones-yx1.png");
    }
    
    .YX1Block__text-box{
        width: 54rem;
        height: 32rem;
    }
    
    .YX1Block__text-box h3{
        padding-top: 10.1rem;
        margin-left: 9.5rem;
        margin-bottom: 3.2rem;
    }
    
    .YX1Block__text-box a{
        margin-left: 9.5rem;
    }
}

/* Gear block  */
.gearBlock{
    width: 32.7rem;
    height: 69.8rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
}

.gearBlock__text-box{
    order: 2;
}

.gearBlock img{
    border-radius: 15px;
    order: 1;
}

.gearBlock h3{
    color: #000;
    text-align: center;
    font-size: 2.8rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.gearBlock h3 strong{
    color: #D87D4A;
    font-weight: 700;
}

.gearBlock p{
    width: 32.7rem;
    opacity: 0.5;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    
}

@media screen and (min-width: 768px) {
    .gearBlock{
        width: 68.9rem;
        height: 63.3rem;
        margin-bottom: 9.6rem;
    }
    
    .gearBlock img{
        content: url("./assets/shared/tablet/image-best-gear.png");
        margin-bottom: 6.3rem;
    }
    
    .gearBlock h3{
        width: 57.3rem;
        text-align: center;
        font-size: 4rem;
        line-height: 4.4rem;
        letter-spacing: 0.1429rem;
        margin-bottom: 3.2rem;
    }
    
    .gearBlock p{
        width: 57.3rem;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 2.5rem;
        padding-bottom: 9.6rem;
    }
}

@media screen and (min-width: 1024px) {
    .gearBlock{
        width: 111rem;
        height: 58.8rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20rem;
    }

    .gearBlock__text-box{
        width: 44.5rem;
        height: 29.5rem;
        order: 1;
    }
    
    .gearBlock img{
        content: url("./assets/shared/desktop/image-best-gear.png");
        margin-bottom: 0rem;
        width: 540px;
        height: 588px;
        order: 2;
    }
    
    .gearBlock h3{
        width: 44.5rem;
        text-align: left;
    }
    
    .gearBlock p{
        width: 44.5rem;
        text-align: left;
    }
}

/* Home footer  */
.homeFooter{
    height: 65.4rem;
    width: 100%;
    background: #101010;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.homeFooter-container{
    max-width: 1110px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 65.4rem;
    background: #101010;
    margin: 0 auto;
}

.homeFooter__rectangle{
    width: 10.1rem;
    height: 0.4rem;
    background: #D87D4A;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.homeFooter__SVG-heading{
    margin-top: 52px;
    margin-bottom: 4.8rem;
    flex-shrink: 0;
}

.homeFooter__nav-bar {
    margin: 0 auto;
    margin-bottom: 4.8rem;
    padding: 0;
}

.homeFooter__nav-bar li{
    margin-bottom: 1.6rem;
    text-align: center;
}

.homeFooter__nav-bar li a{
    color: #FFF;
    font-size: 1.3rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    letter-spacing: 0.2rem;
    transition: all 0.2s;
}

.homeFooter__nav-bar li a:hover{
    color: #D87D4A;
}

.homeFooter__paragraph{
    color: #FFF;
    width: 32.7rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
    opacity: 0.5;
    margin-bottom: 4.8rem;
}

.homeFooter__last-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeFooter__copyright{
    color: #FFF;
    font-size: 1.5rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5rem;
    opacity: 0.5;
}

.homeFooter__socal-buttons{
    width: 10.4rem;
    height: 2.4rem;
    flex-shrink: 0;

}

.homeFooter__social-button-path{
    fill: #fff;
    transition: all 0.2s;
}

.homeFooter__social-button-facebook:hover .homeFooter__social-button-path, .homeFooter__social-button-instagram:hover .homeFooter__social-button-path, .homeFooter__social-button-twitter:hover .homeFooter__social-button-path{
    fill: #D87D4A;
    transition: all 0.2s;
}


.homeFooter__socal-buttons a{
    width: 10.4rem;
    height: 2.4rem;
    flex-shrink: 0;
    margin-right: 10px;
}

@media screen and (min-width: 768px) {
    .homeFooter{
        height: 42rem;
    }

    .homeFooter-container{
        height: 42rem;
        align-items: flex-start;
        flex-direction: column;
    }
    
    .homeFooter__SVG-heading{
        margin-top: 56px;
        margin-bottom: 3.2rem;
        width: 14.3rem;
        height: 2.5rem;
    }
    
    .homeFooter__nav-bar {
        margin-bottom: 3.2rem;
        display: flex;
        flex-direction: row;
        width: 50rem;
        justify-content: space-between;
    }
    
    
    .homeFooter__paragraph{
        width: 68.9rem;
        text-align: left;
        margin-bottom: 8rem;
    }

    .homeFooter__copyright{
        margin-left: 0;
    }

    .homeFooter__last-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 46px;
    }
    
    .homeFooter__socal-buttons{
        width: 12rem;
        height: 2.4rem;
    }

    .homeFooter__socal-buttons a{
        margin-right: 15px;
    }
}

@media screen and (min-width: 1024px) {
    .homeFooter{
        height: 38rem;
    }

    .homeFooter-container{
        height: 36.5rem;
        width: 1110px;
    }

    .homeFooter__rectangle{
        width: 10.1rem;
        height: 0.4rem;
        flex-shrink: 0;
        position: static;
        transform: translate(40%);
    }

    .homeFooter-heading-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 7.5rem;
        margin-bottom: 3.6rem;
        width: 100%;
    }
    
    .homeFooter__SVG-heading{
        margin: 0;
        width: 14.3rem;
        height: 2.5rem;
    }
    
    .homeFooter__nav-bar {
        display: flex;
        flex-direction: row;
        width: 45rem;
        margin: 0;
        justify-content: space-between;
        align-items: center;
    }

    .homeFooter__nav-bar li {
        margin: 0;
    }
    
    .homeFooter__paragraph{
        width: 68.9rem;
        text-align: left;
        margin-bottom: 6rem;
        width: 54rem;
    }

    .homeFooter__last-container{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 46px;
    }
    
    .homeFooter__socal-buttons{
        width: 12rem;
        height: 2.4rem;
        transform: translateY(-100px);
    }

    .homeFooter__socal-buttons a{
        margin-right: 0;
        margin-left: 15px;
    }
}

/* Heaphones page  */
.headphones__hero{
    padding: 1px;
    margin-bottom: 6.4rem;
    background: #191919;
    width: 100%;
    height: 10.2rem;
}

.headphones__hero h1{
    color: #FFF;
    text-align: center;
    font-size: 2.8rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.xx99Block{
    margin: 0 auto;
    width: 32.7rem;
    height: 72.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 12rem;
}

.xx99Block__image-container{
    width: 327px;
    height: 352px;
    flex-shrink: 0;
    border-radius: 0.8rem;
    background: #F1F1F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.xx99Block__text-container{
    display: flex;
    width: 32.7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.xx99Block__text-container-title{
    color: #D87D4A;
    text-align: center;
    font-size: 1.4rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.xx99Block__text-container-heading{
    width: 32.7rem;
    color: #000;
    text-align: center;
    font-size: 2.8rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.xx99Block__text-container-paragraph{
    width: 32.7rem;
    color: #000;
    text-align: center;
    font-size: 1.5rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 500;
    line-height: 2.5rem;
}

.xx99Block__text-container-button{
    background: #D87D4A;
    width: 16rem;
    height: 4.8rem;
    flex-shrink: 0;
    color: #FFF;
    font-size: 1.3rem;
    font-family: Manrope;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    transition: all 0.2s;
}

.xx99Block__text-container-button:hover{
    background: #FBAF85;
}

@media screen and (min-width: 768px) {
    .xx99Block{
        width: 76.8rem;
        height: 435.4rem;
        margin-bottom: 12rem;
    }
    
    .xx99Block__image-container{
        width: 100%;
        height: 35.2rem;
        margin-bottom: 5.2rem;
    }
    
    .xx99Block__text-container{
        width: 57.2rem;
        height: 30.2rem;
    }
    
    .xx99Block__text-container-heading{
        width: 30rem;
        font-size: 4rem;
        font-family: Manrope;
        font-style: normal;
        font-weight: 700;
        line-height: 4.4rem;
        letter-spacing: 0.1429rem;
        text-transform: uppercase;
        margin-bottom: 3.2rem;
    }
    
    .xx99Block__text-container-paragraph{
        width: 57.2rem;
        color: #000;
        text-align: center;
        font-size: 1.5rem;
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        line-height: 2.5rem;
        margin-bottom: 2.4rem;
    }
}

@media screen and (min-width: 1024px) {
    .xx99Block{
        width: 144rem;
        height: 56rem;
        margin-bottom: 16rem;
        flex-direction: row;
    }
    
    .xx99Block__image-container{
        width: 54rem;
        height: 56rem;
        margin-right: 12.5rem;
    }
    
    .xx99Block__image-container img{
        content: url("./assets/product-xx99-mark-two-headphones/desktop/image-removebg-preview.png");
    }
    
    .xx99Block__text-container{
        width: 57.2rem;
        height: 30.2rem;
    }
    
    .xx99Block__text-container-heading{
        width: 30rem;
        font-size: 4rem;
        font-family: Manrope;
        font-style: normal;
        font-weight: 700;
        line-height: 4.4rem;
        letter-spacing: 0.1429rem;
        text-transform: uppercase;
        margin-bottom: 3.2rem;
    }
    
    .xx99Block__text-container-paragraph{
        width: 57.2rem;
        color: #000;
        text-align: center;
        font-size: 1.5rem;
        font-family: Manrope;
        font-style: normal;
        font-weight: 500;
        line-height: 2.5rem;
        margin-bottom: 2.4rem;
    }

}